body {
  font-family: "Josefin Sans";
  background-color: #fffafb;
  
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.second{
  font-size: 70px;
}
.nextButton
{
  display: inline-flex;
  height: 40px;
  padding: 0;
  background: cadetblue;
  border:none;
  outline:none;
  border-radius:5px;
  overflow:hidden;
  font-size:16px;
  font-weight: 500;
  cursor:pointer;

}
input{
  font-size: 14px;
}
input:focus
{border-width: 1px;
  outline-color: #1a73e8;

}
input::placeholder{
  padding-left: 19px;
}

.right-arrow1,
.left-arrow1 {
  width: 1px;
  height: 1px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff2625;
  font-size: 2px;
  border-radius: 0px;
  position: absolute;
  bottom: -30px;
  right: 150px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow1 {
  right: 1140px;
}

.right-arrow1:hover,
.left-arrow1:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  opacity: 0.9;
  position: absolute;
  right: 15px;
  top: 0px;
  width: 700px;
  height: 450px;
  margin-top: -90px;
  border-bottom-left-radius: 100px;
  box-shadow: 8px 8px #9f6fff58;
}

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #ff2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  color: #4169e1;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}
#slider::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #ff2625 !important;
  border: 1px solid #ff2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
}

